<div class="row" style="margin-left: 2px;">

<h4 style="text-align:center;">Prestations</h4>

<div class="col-md-6">

<div class="input-group"><span class="input-group-addon glyphicon glyphicon-home" id="basic-addon1" aria-hidden="true"></span>
  <input type="text" class="form-control quicksearch" placeholder="Search" aria-describedby="basic-addon1">
</div>

</div>


<div class="col-md-6">

<div id="filters" class="btn-group"  role="group" aria-label="...">
  <button type="button" class="btn btn-default filter-btn" value="">All</button>
  <button type="button" class="btn btn-default filter-btn" value="soin">Soin</button>
  <button type="button" class="btn btn-default filter-btn" value="epilation">Epilation</button>
  <button type="button" class="btn btn-default filter-btn" value="massage">Massage</button>
</div>

</div>

</div>

<hr>

<div class="container iso_content">
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute1.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 1</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute2.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 2</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute3.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 3</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute4.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 4</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute5.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 5</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal soin" data-category="transition">
    <%= image_tag "beaute6.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Soin 6</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal epilation" data-category="transition">
    <%= image_tag "beaute7.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Epilation 1</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal epilation" data-category="transition">
    <%= image_tag "beaute8.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Epilation 2</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal epilation" data-category="transition">
    <%= image_tag "beaute10.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Epilation 3</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal epilation" data-category="transition">
    <%= image_tag "beaute11.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Epilation 4</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal epilation" data-category="transition">
    <%= image_tag "beaute12.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Epilation 5</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute13.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 1</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute14.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 2</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute15.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 3</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute16.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 4</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute17.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 5</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal massage" data-category="transition">
    <%= image_tag "beaute8.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Massage 6</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
</div>