<div class="row" style="margin-left: 2px;">

<h3 style="text-align:center;">Stores locator</h3>

<div class="col-md-6">

<div class="input-group"><span class="input-group-addon glyphicon glyphicon-home" id="basic-addon1" aria-hidden="true"></span>
  <input type="text" class="form-control quicksearch" placeholder="Search" aria-describedby="basic-addon1">
</div>

</div>


<div class="col-md-6">

<div id="filters" class="btn-group"  role="group" aria-label="...">
  <button type="button" class="btn btn-default filter-btn" value="">All</button>
  <button type="button" class="btn btn-default filter-btn" value="paris">Paris</button>
  <button type="button" class="btn btn-default filter-btn" value="lyon">Lyon</button>
  <button type="button" class="btn btn-default filter-btn" value="marseille">Marseille</button>
</div>

</div>

</div>

<hr>

<div class="container iso_content">
  <div class="element-item transition metal paris" data-category="transition">
    <%= image_tag "cosme1.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Paris Rivoli</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal paris" data-category="transition">
    <%= image_tag "cosme2.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Paris Chatelet</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal paris" data-category="transition">
    <%= image_tag "cosme3.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Paris Bastille</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal paris" data-category="transition">
    <%= image_tag "cosme4.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Paris Nation</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal paris" data-category="transition">
    <%= image_tag "cosme5.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Paris Ternes</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal lyon" data-category="transition">
    <%= image_tag "cosme6.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Lyon 1</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal lyon" data-category="transition">
    <%= image_tag "cosme7.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Lyon 2</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal marseille" data-category="transition">
    <%= image_tag "cosme8.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Marseille Vieux-Port</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal marseille" data-category="transition">
    <%= image_tag "cosme10.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Marseille Prado</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal marseille" data-category="transition">
    <%= image_tag "cosme1.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Marseille Joliette</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme2.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Boulogne-Billancourt</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme3.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Issy-les-moulineaux</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme4.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Sèvres</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme5.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Meudon</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme6.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Puteaux</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme7.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Neuilly</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <%= image_tag "cosme8.jpg", class: 'image', style: 'border: 2px solid #bce8f1; height: 160px;
    width: 250px;' %>
    <h4 class="title">Levallois</h4>
    <p class="number">Prestations: 5</p>
    <p class="weight">A partir de: 200.59 €</p>
  </div>
</div>