
<!--<div class="row-fluid" style="margin-left: 50px;margin-right: 50px;">

<div class="col-md-12" style="margin-bottom: 40px;">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Gaël's web applications !</h3>
  </div>
  <div class="panel-body">
    A presentation of the projects I worked on.
  </div>
</div>
</div>

</div>-->

<div class="row-fluid" style="margin: 20px 20px 0 20px;">
<a style="display:none;" id="back">Retour aux magasins</a>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" id="tab_stores" class="active"><a href="#loreal" aria-controls="loreal" role="tab" data-toggle="tab">Magasins</a></li>
    <li role="presentation"><a href="#pepsico" aria-controls="pepsico" role="tab" data-toggle="tab">RDV</a></li>
    <li role="presentation" style=""><a href="#mesrdv" aria-controls="mesrdv" role="tab" data-toggle="tab">Mes RDV</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="row" >
    <div class="col-lg-12" style="height:20px; background-color: #d5f1f6; border-color: #2db7d2; margin: 0px 15px 0px 15px;">

    </div>
    </div>

    <div role="tabpanel" class="tab-pane active" id="loreal">
      <!--<div id="filters">
    Color: <select id="filter-select">
        <option value="">All</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select><br>
    Title: <input type="text" class="quicksearch">
</div>

<div id="container">
    <div class="red item"><div class="title">Title aaa</div><div class="description">Description xxx</div></div>
    <div class="green item"><div class="title">Title bbb</div><div class="description">Description yyy</div></div>
    <div class="blue item"><div class="title">Title ccc</div><div class="description">Description zzz</div></div>
    <div class="yellow item"><div class="title">Title aaa</div><div class="description">Description xxx</div></div>
    <div class="red item"><div class="title">Title bbb</div><div class="description">Description yyy</div></div>
    <div class="green item"><div class="title">Title ccc</div><div class="description">Description zzz</div></div>
    <div class="blue item"><div class="title">Title aaa</div><div class="description">Description xxx</div></div>
    <div class="yellow item"><div class="title">Title bbb</div><div class="description">Description yyy</div></div>
    <div class="red item"><div class="title">Title ccc</div><div class="description">Description zzz</div></div>
    <div class="green item"><div class="title">Title aaa</div><div class="description">Description xxx</div></div>
    <div class="blue item"><div class="title">Title bbb</div><div class="description">Description yyy</div></div>
    <div class="yellow item"><div class="title">Title ccc</div><div class="description">Description zzz</div></div>
</div>-->



    <%= render 'home/list_isotope_stores' %>




    </div>

    <div role="tabpanel" class="tab-pane" id="pepsico">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Catégories de prestations
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= render 'home/list_isotope_interventions' %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Prestations
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'home/list_isotope_interventions' %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Date et Heure
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <%= week_calendar number_of_weeks: 2 do |date| %>
  <%= date %>
<% end %>
      </div>
    </div>
  </div>
</div>
      
      
    </div>

     <div role="tabpanel" class="tab-pane" style="" id="mesrdv">

<div class="row" >

<div class="col-lg-7 col-md-7" style="margin: 20px;">
 <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA_gU4cbeEXSXRTHy9qnqZPtxa6rk56b_s
    &q=Solocal,Boulogne-Billancourt" allowfullscreen>
</iframe>
</div>


 

    <div class="col-lg-4 col-md-4" style="height: 450px;background-color: white; border-color: black; margin: 20px 15px 20px 15px; border-radius: 10px;;">

    </div>

     <%= month_calendar do |date| %>
  <%= date %>
<% end %>
      </div>



   </div>





    </div>

    

  </div>


</div>


