
<div class="row-fluid" style="margin-left: 50px;margin-right: 50px;">

<div class="col-md-12" style="margin-bottom: 40px;">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Gaël's web applications !</h3>
  </div>
  <div class="panel-body">
    A presentation of the projects I worked on.
  </div>
</div>
</div>

</div>

<div class="row-fluid" style="margin: 20px 20px 0 20px;">
<div class="col-md-12">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pepsico" aria-controls="pepsico" role="tab" data-toggle="tab">Pepsico - Magies</a></li>
    <li role="presentation"><a href="#loreal" aria-controls="loreal" role="tab" data-toggle="tab">L'Oréal</a></li>
    <li role="presentation"><a href="#geopost" aria-controls="geopost" role="tab" data-toggle="tab">Géopost</a></li>
    <li role="presentation"><a href="#polepass" aria-controls="polepass" role="tab" data-toggle="tab">Polepass</a></li>
    <li role="presentation"><a href="#fibralp" aria-controls="fibralp" role="tab" data-toggle="tab">Fibralp - Valtech Industrie</a></li>
    <li role="presentation"><a href="#lcabox" aria-controls="lcabox" role="tab" data-toggle="tab">LCABox</a></li>
    <li role="presentation"><a href="#betongoal" aria-controls="betongoal" role="tab" data-toggle="tab">Betongoal</a></li>
    <li role="presentation"><a href="#greetest" aria-controls="greetest" role="tab" data-toggle="tab">Greetest</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin-top: 30px;">
    <div role="tabpanel" class="tab-pane active" id="pepsico">
      
      <%= image_tag "magies_A.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "magies_B.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "magies_C.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "magies_D.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "magies_E.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="loreal">
      <%= image_tag "csrindex.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="geopost">
      <%= image_tag "geopost.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="polepass">
      <%= image_tag "polepass.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fibralp">
      <%= image_tag "fibralp.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="lcabox">
      <%= image_tag "lcabox.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="betongoal">
      <%= image_tag "bog_home.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "bog_league.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "bog_player.png", style: 'border: 2px solid #bce8f1' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="greetest">
      <%= image_tag "greetest_landing.png", style: 'border: 2px solid #bce8f1' %>
      <hr>
      <%= image_tag "greetest_home.png", style: 'border: 2px solid #bce8f1' %>
    </div>
  </div>

</div>
</div>



